
.fs-crud-table{
  .fs-editable-cell {
    .fs-cell-edit{
      display: flex;
      width:100%;
      .fs-cell-edit-input{
        flex:1
      }
      .fs-cell-edit-action{
        justify-content: flex-end;
        align-items: baseline;
      }
    }

    .fs-cell-edit-dirty{
      border-radius: 100px;
      width:5px;
      height:5px;
      margin-left:-5px;
      background: red;
    }
  }
}
