[submodule "packages/fast-admin/fs-admin-antdv"]
	path = packages/fast-admin/fs-admin-antdv
	url = https://github.com/fast-crud/fs-admin-antdv
[submodule "packages/fast-admin/fs-admin-element"]
	path = packages/fast-admin/fs-admin-element
	url = https://github.com/fast-crud/fs-admin-element
[submodule "packages/fast-admin/fs-admin-naive-ui"]
	path = packages/fast-admin/fs-admin-naive-ui
	url = https://github.com/fast-crud/fs-admin-naive-ui
[submodule "packages/fast-admin/fs-admin-antdv4"]
	path = packages/fast-admin/fs-admin-antdv4
	url = https://github.com/fast-crud/fs-admin-antdv4
