.fs-form-wrapper{
  .fs-form-footer-btns{
    display: flex;
    margin-top:20px;
    justify-content: flex-end;
    & > *{
      margin-left:10px;
    }
  }

  .el-dialog__header {
    padding: 20px 20px ;
    border-bottom: 1px #eee solid;
  }
  .el-dialog__body {
    padding: 20px 20px;
  }

  .el-drawer__body{
    padding: 20px 20px;
  }

  .el-drawer__header {
    margin-bottom: 0px;
    padding: 20px 20px;
    border-bottom: 1px #eee solid;
  }
  .el-dialog__headerbtn {
    top: 23px;
  }


  .fs-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:40px;
    .fs-form-header-left{
      justify-items: flex-start;
    }
    .fs-form-header-right{
      justify-items: flex-end;
      color:#777;
      &>*{
        cursor: pointer;
      }
    }
  }



  &.fs-fullscreen{
    .ant-modal{
      width:100% !important;
      height:100% !important;
      top:0 !important;
      padding: 0px;
      .ant-modal-content{
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-modal-body{
          flex:1;
          position: relative;
        }
      }


      .fs-form-wrapper-body{
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        display: flex;
        flex-direction: column;
        padding:24px;
        .fs-form-body{
          flex:1;
          overflow:auto;
        }
      }

    }
  }
}
